/* Add your customizations of theme here */

body {
    .ui-inputtext {
        border-bottom: $inputBorderBottom;
        @include transition($inputTransition);
        @include appearance(none);

        &:enabled:hover:not(.ui-state-error) {
            border-color: $inputHoverBorderColor;
        }

        &:enabled:focus:not(.ui-state-error) {
            @include focused-input();
        }

        &.ng-dirty {
            border-bottom-color: $inputErrorBorderColor;
        }
    }
}